.footer_buttom_right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  ol {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    li {
      gap: 4px;
      color: white;
      a {
        color: gold;
      }
    }
  }
}
