.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: transparent;
  top: 0;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  background-color: transparent;
  top: 0;
  transition: 0.5s;
}
.search_button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Rubik, sans-serif;
  color: white;
}
.search_button2 {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Rubik, sans-serif;
  color: #002347;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  transition: 0.9s;
  padding: 2px 0;
}
.menu_2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  transition: 0.9s;
  padding: 2px 0;
}

.header_2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99;
  color: white;
  transition: 0.5s;
}
.header_2_blue {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #002347;
  z-index: 99;
  color: white;
  transition: 0.5s;
}
.search_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 0;
  padding: 0px 10%;
  overflow: hidden;
  transition: 0.5s;
  background-color: #fdc632;
  input {
    width: 100%;
    padding: 4px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    &::placeholder {
      color: white;
    }
  }
}
.search_box_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10%;
  overflow: hidden;
  transition: 0.5s;
  background-color: #fdc632;
  input {
    width: 100%;
    padding: 4px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    &::placeholder {
      color: white;
    }
  }
}

// ---------------------------------

.header_left_components {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

// ---------------------------------

.header_right_components {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// ---------------------------------

.button_Menu {
  display: none;
  background-color: transparent;
  color: #fdc632;
  border: none;
  font-size: 1.3rem;
}

@media (max-width: 990px) {
  .header {
    background-color: gray;
  }
  .header_2 {
    background-color: gray;
  }
  .header_2_blue {
    background-color: gray;
  }
  .navbar {
    flex-wrap: wrap;
    transition: 0.5s;
  }
  .button_Menu {
    display: block;
  }
  .menu {
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.5s;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: gray;
    padding: 0px 10%;
    z-index: -1;
  }
  .menu_2 {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.5s;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: gray;
    padding: 10px 10%;
    z-index: -1;
  }
  .search_button {
    color: white;
  }
  .search_button2 {
    color: white;
  }
}
@media (max-width: 650px) {
  .header {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    .search {
      width: 100%;
    }
  }
  .header_2 {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    .search {
      width: 100%;
    }
  }
}
