.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: 600;
  font-family: Rubik, sans-serif;
  color: #002347;
  transition: 0.5s;
}

@media (max-width: 990px) {
  .menu {
    padding: 10px 0;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
