.footer_box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 50px;
  background-color: #002347;
  padding: 70px 10% 130px;
}
.footer_buttom_right {
  align-self: flex-end;
}
